USE [master]
GO
/****** Object:  Database [Good Day]    Script Date: 04/04/2017 1:23:11 ******/
CREATE DATABASE [Good Day]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Good Day', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Good Day.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Good Day_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Good Day_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Good Day].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Good Day]
GO
/****** Object:  Table [dbo].[Calendario]    Script Date: 04/04/2017 1:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendario](
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Calendario] PRIMARY KEY CLUSTERED 
(
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Color]    Script Date: 04/04/2017 1:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[ID_color] [int] NOT NULL,
	[NameColor] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[ID_color] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Libreta]    Script Date: 04/04/2017 1:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libreta](
	[ID_libreta] [int] IDENTITY(1,1) NOT NULL,
	[NameLibreta] [nvarchar](50) NOT NULL,
	[ID_color] [int] NULL,
 CONSTRAINT [PK_Libreta] PRIMARY KEY CLUSTERED 
(
	[ID_libreta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mensaje_Bienvenida]    Script Date: 04/04/2017 1:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensaje_Bienvenida](
	[ID_mensaje] [int] NOT NULL,
	[Mensaje_desc] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Mensaje_Bienvenida] PRIMARY KEY CLUSTERED 
(
	[ID_mensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nota]    Script Date: 04/04/2017 1:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nota](
	[ID_nota] [int] IDENTITY(1,1) NOT NULL,
	[ID_tag] [int] NOT NULL,
	[NameNota] [nvarchar](50) NOT NULL,
	[Fecha] [datetime] NULL,
 CONSTRAINT [PK_Notas] PRIMARY KEY CLUSTERED 
(
	[ID_nota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Papelera]    Script Date: 04/04/2017 1:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Papelera](
	[ID_trash] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tag]    Script Date: 04/04/2017 1:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[ID_tag] [int] IDENTITY(1,1) NOT NULL,
	[ID_libreta] [int] NULL,
	[NameTag] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[ID_tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 04/04/2017 1:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_usuario] [int] IDENTITY(1,1) NOT NULL,
	[NameUsuario] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario_Libreta]    Script Date: 04/04/2017 1:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Libreta](
	[ID_usuario] [int] NOT NULL,
	[ID_libreta] [int] NOT NULL,
 CONSTRAINT [PK_Libreta_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_usuario] ASC,
	[ID_libreta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Libreta]  WITH CHECK ADD  CONSTRAINT [FK_Libreta_Color] FOREIGN KEY([ID_color])
REFERENCES [dbo].[Color] ([ID_color])
GO
ALTER TABLE [dbo].[Libreta] CHECK CONSTRAINT [FK_Libreta_Color]
GO
ALTER TABLE [dbo].[Nota]  WITH CHECK ADD  CONSTRAINT [FK_Nota_Tag] FOREIGN KEY([ID_tag])
REFERENCES [dbo].[Tag] ([ID_tag])
GO
ALTER TABLE [dbo].[Nota] CHECK CONSTRAINT [FK_Nota_Tag]
GO
ALTER TABLE [dbo].[Tag]  WITH CHECK ADD  CONSTRAINT [FK_Tag_Libreta] FOREIGN KEY([ID_libreta])
REFERENCES [dbo].[Libreta] ([ID_libreta])
GO
ALTER TABLE [dbo].[Tag] CHECK CONSTRAINT [FK_Tag_Libreta]
GO
ALTER TABLE [dbo].[Usuario_Libreta]  WITH CHECK ADD  CONSTRAINT [FK_Libreta_Usuario_Libreta] FOREIGN KEY([ID_libreta])
REFERENCES [dbo].[Libreta] ([ID_libreta])
GO
ALTER TABLE [dbo].[Usuario_Libreta] CHECK CONSTRAINT [FK_Libreta_Usuario_Libreta]
GO
ALTER TABLE [dbo].[Usuario_Libreta]  WITH CHECK ADD  CONSTRAINT [FK_Libreta_Usuario_Usuario] FOREIGN KEY([ID_usuario])
REFERENCES [dbo].[Usuario] ([ID_usuario])
GO
ALTER TABLE [dbo].[Usuario_Libreta] CHECK CONSTRAINT [FK_Libreta_Usuario_Usuario]
GO
USE [master]
GO
