*{
    margin:0px;
    padding: 0px;
}
h1{
    font-size: 4.8vw;
}
h2{
    font-size: 3.0vw;
}
p{
    font-size: 2vmin;
}
a:link {
    list-style:none;
    text-decoration:none;
    color:rgba(69, 69, 69, 0.90);
}

/*Generales*/

.lista{
    list-style: none;
    text-decoration: none;
    text-align: left;
    
}

.lista li a{
    list-style: none;
    text-decoration: none;
    text-align: left; 
}
.lista a:link{
    list-style: none;
    text-decoration: none;
    text-align: left;
    color: black;
}



.centerText{
text-align: center;
}

body{
    
font-family: 'Open Sans', sans-serif;
background: rgba(181,198,208,1);
background: -moz-linear-gradient(top, rgba(181,198,208,1) 0%, rgba(216,225,231,1) 70%, rgba(242,246,248,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(181,198,208,1)), color-stop(70%, rgba(216,225,231,1)), color-stop(100%, rgba(242,246,248,1)));
background: -webkit-linear-gradient(top, rgba(181,198,208,1) 0%, rgba(216,225,231,1) 70%, rgba(242,246,248,1) 100%);
background: -o-linear-gradient(top, rgba(181,198,208,1) 0%, rgba(216,225,231,1) 70%, rgba(242,246,248,1) 100%);
background: -ms-linear-gradient(top, rgba(181,198,208,1) 0%, rgba(216,225,231,1) 70%, rgba(242,246,248,1) 100%);
background: linear-gradient(to bottom, rgba(181,198,208,1) 0%, rgba(216,225,231,1) 70%, rgba(242,246,248,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c6d0', endColorstr='#f2f6f8', GradientType=0 );

}

/*header*/

.navbar-azul{
    width:100%;
    height: 50%;
    box-sizing: border-box;
    background: #026AA7;
}

.margin{
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.formAddNota{
    display:none;
}

/*Barra Lateral*/

div #barIcon{
float: left;
width: 5vw;
height: 20vw;
background: #026AA7;
margin-top:5vw;
border-radius: 0px 5px 5px 0px;
padding: 1.5vw;
}

div #barIcon nav{
position: absolute;
top: 50%;   
transform: translateY(-50%);
}

div #barIcon a{
    text-decoration: none;
    color: rgba(69,69,69,0.9);
    font-size: 2vw;
    line-height: 6vw;
}   
div #barIcon li{
    list-style: none;
}
div #barIcon ul li a span{
    text-decoration: none;
}

div #barIcon a:hover{
    font-size: 3vw; 
    color:rgba(80,80,80,0.9);

}



/*Botones*/

.btn-outline-info {
    color: #5bc0de;
    background-image: none;
    background-color: transparent;
    border-color: #5bc0de;
}

.btn-outline-secondary {
    color:darkgray;
    background-image: none;
    background-color: transparent;
    border-color: darkgray;
}

.arrow-back {
    font-size: 2vw;
    float: left;
    position: absolute;
    left: 0vw;
    top: 5vw;
    padding: 1vw;  
}


/*mover*/

.floatLeft{
    float: left;
    padding-top: 2vw;
    padding: 2vw;   
}

.topRight{ 
position: absolute;
top: 2vw;
right: 2vw;
font-size:2.0vw;
}

.topLeft{ 
position: absolute;
top: 2vw;
left: 2vw;
font-size:3.0vw;
}





/*Fonts*/

.Salsa{
    text-align: center;
    color: rgba(69, 69, 69, 0.9);
    font-family: "Salsa" , cursive;
    font-size: 300%;
}
.kalam{
    font-family: "Kalam", cursive;
    color: rgba(69,69,69,0.9);
}

/*Colores*/
.rgbablack{      
   background-color:rgba(69, 69, 69, 0.9);
    }

.borde{
    border-color: rgba(69,69,69,0.9);
}
.color {
    color:rgba(69, 69, 69, 0.9);
}

/*Barra Divisora*/

#lineaIndex {
border: 0;
height: 1px;
margin-top: 20px;
background-image: -webkit-linear-gradient(left,  rgba(100,100,100,1) 0%,rgba(69,69,69,1) 20%,rgba(69,69,69,1) 50%,rgba(69,69,69,1) 80%,rgba(100,100,100,1) 100%);
text-align: center;
}

#lineaIndex:after {
content:"O";
position: relative;
top: -12px;
/*display: inline-block;*/
width: 36px;
height: 24px;
padding: 0;
border: 2px solid rgba(69,69,69,0.9);
border-radius: 24px;
background: rgba(69,69,69,0.9);
color: white;
font-size: 12px;
line-height: 24px;
overflow: hidden;
}



/*Cajas*/

.boxLibreta{
width: 100%;
background-color:rgba(10, 143, 173, 0.9);
padding: 2.3vw;
border-radius: 5px;
margin-top: 1.5vw;
}

.boxTag{
    width: 100%;
    background-color:gray;
    padding: 0.5vw;
    border-radius: 5px;
}
.boxNota{
    width: 100%;
    padding: 6px 12px;
    background-color: white;
    border-radius: 4px;
    list-style: none;
    text-decoration: none;
    text-align: left;
    margin-bottom: 6px ;
}